.list-container {
  width: 480px;
  height: max-content;
  color: #fff;
  background-color: #1f2a37;
  display: flex;
  flex-direction: column;
  padding: 0.1px;
}

.list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  border-bottom: none;

  span {
    width: 50%;
  }
}

ul.list li:hover {
  background-color: #374151;
}

ul.list > li:not(:last-of-type) {
  border-bottom: 1px solid #374151;
}

.list span {
  padding: 20px 20px;
}


