/* .container2 {
    position: absolute;
    width: 480px;
    background: #1f2a37;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    right: 40%;
    left: 50%;
    top: 145px;
  }
  
  .open {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin: 15px;
  }
  
  form {
    width: 100%;
  }
   */