@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Vazirmatn", sans-serif;
}

/* DROPDOWN */
details {
  position: relative;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

details ul {
  position: absolute;
  top: 53px;
  left: 4px;
  list-style: none;
  width: max-content;
  height: max-content;
  background-color: #374151;
  border-radius: 6px;
  color: #9ca3af;
}

details ul li {
  padding: 10px 15px;
  cursor: pointer;
  padding: 5px 25px;
  width: 224px;
}

details ul li:first-child {
  border-bottom: 1px solid #4b5563;
}

details ul li:first-child span.email-info {
  color: rgb(225, 225, 225, 0.8);
}

details ul li span {
  display: flex;
  color: #fff;
}

details ul li:last-child {
  border-top: 1px solid #4b5563;
}

details ul li:hover {
  background-color: #1f2a37;
  color: #fff;
}

details ul li:last-child:hover {
  background-color: #3f1717;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

details ul li:first-child:hover {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

details summary {
  list-style: none;
}

.list-container {
  width: 480px;
  height: 290px;
}

ul {
  padding: 30px;
  color: #fff;
}

.list {
  border: 1px solid #000;
  background-color: #1f2a37;
}

.list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  border-bottom: none;

  span {
    width: 50%;
  }
}

ul.list li:hover {
  background-color: #374151;
}

ul.list > li:not(:last-of-type) {
  border-bottom: 1px solid #374151;
}

.list span {
  padding: 20px 20px;
}

.list-btn {
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  outline: none;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  background-color: #1a56db;
}
